* {
    background-color: rgb(165, 165, 165);
}

#pomodoro {
    background-color: black;
    height: 600px;
    width: 800px;
    margin: 5% auto;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-template-areas: 
        "title title"
        "session break"
        "clock clock"
        "clock clock"                
}

#title {
    grid-area: title;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding-top: 8px;
    border-radius: 5px;
    background: rgb(224, 224, 224);
}