body {
    background-color: rgb(165, 165, 165);
}

#pomodoro {
    background-color: black;
    box-shadow: 5px 8px 12px black;
    height: 600px;
    width: 800px;
    margin: 5% auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-template-areas: 
        "title title"
        "session break"
        "clock clock"
        "clock clock";               
}

#title {
    grid-area: title;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding-top: 8px;
    border-radius: 5px;
    background: rgb(224, 224, 224);
}

.container {
    margin: 5px;
    background-color: black;
    border: 3px solid rgb(224, 224, 224);
    border-radius: 10px;
    color: rgb(224, 224, 224);
}

.edit {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
}

#session {
    display: grid;
    grid-area: session;
}

#break {
    display: grid;
    grid-area: break;
}

#clock {
    display: grid;
    grid-area: clock;
    grid-template-rows: 2fr 4fr 2fr;
}

.arrow {
    margin-top: 35px;
    font-size: 48px;
    color: rgb(224, 224, 224);
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.arrow:hover, .arrow:focus {
    color: rgb(129, 129, 129);
}

.arrow:active {
    color: rgb(104, 104, 104);
    font-size: 56px;
}

div[id$="-edit"] {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.section-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.section-length {
    font-family: 'Skranji', cursive;
    font-size: 42px;
}

.button-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;	
}

.clock-button {
    font-size: 48px;
    color: rgb(224, 224, 224);
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.clock-button:hover, .clock-button:focus {
    color: rgb(129, 129, 129);
}

.clock-button:active {
    color: rgb(104, 104, 104);
    font-size: 56px;
}

#clock-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

#clock-container .section-title {
    font-size: 68px;
}

#clock-container .section-length {
    font-size: 64px;
}